---
import ArticleCard from "./ArticleCard.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const articles: CollectionEntry<"articles">[] = await getCollection("articles");
---

<ul class="articles">
  {
    articles.map((article) => (
      <li>
        <ArticleCard article={article} />
      </li>
    ))
  }
</ul>

<style>
  .articles {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
    gap: var(--space-xs-s);
  }

  li {
    display: flex;
  }
</style>
