<nav class="navbar" aria-label="primary">
  <ul role="list" class="navlinks cluster wrapper">
    {
      [
        { name: "Home", url: "/" },
        { name: "About", url: "/about" },
        { name: "Typography", url: "/typography" },
      ].map(({ name, url }) => (
        <li>
          <a
            aria-current={Astro.url.pathname === url ? "page" : undefined}
            class:list={[
              "link",
              {
                active:
                  Astro.url.pathname === url ||
                  (url !== "/" && Astro.url.pathname.startsWith(url)),
              },
            ]}
            href={url}
          >
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a {
    text-decoration: none;
  }

  a:hover {
    border-block-end: 4px solid var(--color-secondary);
    opacity: 0.8;
  }

  .active {
    border-block-end: 4px solid var(--color-primary);
  }
</style>
