---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav aria-label="primary" class="wrapper repel">
  <a href="/" class="logo-text">Begin Again Typewriters</a>
  <ul class="cluster" role="list">
    <li>
      <a class={currentPath === "projects" ? "active" : ""} href="/projects"
        >Projects</a
      >
    </li>
    <li>
      <a class={currentPath === "articles" ? "active" : ""} href="/articles"
        >Articles</a
      >
    </li>
    <li>
      <a class={currentPath === "about" ? "active" : ""} href="/about">About</a>
    </li>
    <li>
      <a class={currentPath === "contact" ? "active" : ""} href="/contact"
        >Contact</a
      >
    </li>
  </ul>

  <style>
    nav {
      font-family: var(--font-typewriter);
      padding-block: var(--space-s);
      font-size: var(--size-step-1);
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      border-block-end: 0.25rem solid transparent;
    }
    a:hover {
      text-decoration: none;
      border-block-end: 0.25rem solid var(--color-primary);
      opacity: 0.9;
    }

    .active {
      border-block-end: 0.25rem solid var(--color-primary);
    }
  </style>
</nav>
