---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Content as AboutContent } from '../components/content/about/about.md';

const title = "About";
---

<BaseLayout title={title}>
  <main>
    <div class="wrapper flow">
      <AboutContent />
    </div>
  </main>
</BaseLayout>