---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHero from "../components/hero/HomeHero.astro";
import { Content as WelcomeContent } from "../components/content/homepage/welcome.md";

const title = "Home";
---

<BaseLayout title={title}>
  <main>
    <HomeHero />
    <div class="hero wrapper flow">
      <WelcomeContent />
    </div>
  </main>
</BaseLayout>
