---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Home";
---

<BaseLayout title={title}>
  <main>
    <div class="hero wrapper flow">
      <h1>Begin Again Typewriters</h1>
      <hr />
      <p>under construction, but for real this time</p>
    </div>
  </main>
</BaseLayout>

<style>
  .hero {
    text-align: center;
  }

  .hero > h1 {
    font-size: var(--size-step-4);
  }
</style>
