---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Content as TypographyTest } from "../components/typography/typography.md";

const title = "Typography";
---

<BaseLayout title={title}>
  <main>
    <div class="wrapper flow">
      <TypographyTest />
    </div>
  </main>
</BaseLayout>
