---
interface Props {
    title: string;
    content: string;
}

const { title, content } = Astro.props;
---

<div class="hero">
    <h1 class="hero__title">{title}</h1>
    <p class="hero__content">{content}</p>
</div>

<style>
    .hero {
        text-align: center;
        padding-block: var(--space-l-xl);
    }
</style>
