<ul class="cluster">
    <li><a href="mailto:brett@crossinguard.dev">[email]</a></li>
    <li>
        <a href="https://github.com/crossinguard" target="_blank">[github]</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/w-brett-egbert/" target="_blank"
            >[linkedin]</a
        >
    </li>
</ul>

<style>
    .cluster {
        --cluster-horizontal-alignment: center;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
</style>
