<p>
    Because sometimes it is worth
    <span
        class="typewrite"
        data-period="2000"
        data-type='[ "going back.", "doing again.", "starting over.", "beginning again." ]'
    >
    </span>
</p>

<script src="./script.js"></script>

<!-- credit https://codepen.io/hi-im-si/pen/ALgzqo -->

<style>
    p {
        font-size: var(--size-step-2);
    }
</style>