---
// import base layout
import Layout from "../../layouts/Layout.astro";

// import all content from projects content collection
import { getCollection, render } from "astro:content";

// generate a new path for every project
export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { id: project.id },
        props: { project },
    }));
}
// generate project page from props
const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout title={project.data.title}>
    <h1>{project.data.title}</h1>
    <a href="/projects" class="back">Back to all projects</a>
    <Content />
</Layout>

<style>
    .back {
        display: block;
        padding-block: var(--space-xs);
    }
</style>
