---
import Social from "./Social.astro";

const today = new Date();
---

<footer>
  <p>...</p>
  <p>Kevin Franke (c) {today.getFullYear()}</p>
  <Social />
  <p class="created">
    created with care by <a href="https://crossinguard.dev" target="_blank"
      >crossinguard.dev</a
    >
  </p>
</footer>

<style>
  footer {
    padding-block: var(--space-xl);
    text-align: center;
    font-family: var(--font-typewriter);
    color: var(--color-darkish);
  }
  .created {
    font-size: var(--size-step--2);
  }
</style>
