---
const author = "Kevin Franke";
const today = new Date();
---

<footer>
    <p>{author} &copy; {today.getFullYear()}</p>
</footer>

<style>
    footer {
        text-align: center;
        font-size: var(--size-step-0);
        padding: var(--space-l);
    }
</style>