---
import Social from "./Social.astro";

const today = new Date();
---

<footer>
  <p>...</p>
  <p>Kevin Franke (c) {today.getFullYear()}</p>
  <Social />
  <p>
    created with care by <a href="https://crossinguard.dev" target="_blank"
      >crossinguard.dev</a
    >
  </p>
</footer>

<style>
  footer {
    padding-block: var(--space-xl);
    text-align: center;
    font-family: var(--font-typewriter);
  }

  #copyright-image {
    margin-inline: auto;
    height: var(--size-step-6);
    width: auto;
    opacity: 0.8;
  }
</style>
