<ul class="cluster">
    <li><a href="mailto:beginagaintypewriters@gmail.com">[email]</a></li>
    <li>
        <a href="https://github.com/begin-again-kev" target="_blank">[github]</a
        >
    </li>
    <li>
        <a href="https://www.linkedin.com/in/kevin-franke-cos/" target="_blank"
            >[linkedin]</a
        >
    </li>
</ul>

<style>
    ul {
        --cluster-horizontal-alignment: center;
        padding-inline: 0;
        font-family: var(--font-typewriter);
        color: var(--color-darkish);
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
</style>
