---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import SkipLink from "@components/global/SkipLink.astro";

interface Props {
    page: CollectionEntry<"pages">;
    displayTitle?: boolean;
}

const { page, displayTitle = true } = Astro.props;
const { title, description } = page.data;
const { Content } = await render(page);
---

<BaseLayout title={title} description={description}>
    <main id="main-content" class="wrapper">
        <SkipLink />
        {displayTitle && <h1>{title}</h1>}
        <Content />
    </main>
</BaseLayout>

<style>
    main {
        border-block: solid 2px var(--color-dark-light);
        height: 100%;
        min-height: min(100vh, 500px);
        padding-block: var(--space-s-l);
    }

    h1 {
        margin: 0;
    }
</style>
